<nav class="rr-menu">
  <br><br>
  <ul class="rr-menu__list">
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>
          <img class="icon"
               src="{{ '/assets/layout_2025/menu/' | relative_url }}{{ item.name }}.png"
               alt="" aria-hidden="true">
          <span class="label">{{ item.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
  <img class="mobile-hide visible-md visible-lg" src="/assets/layout_2025/bunny_cropped_clean.png" aria-hidden="true"/>