<!-- desktop/tablet cute image menu -->
<nav class="rr-menu rr-desktop">
<br><br>
  <ul class="rr-menu__list">
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>
          <img class="icon" src="{{ '/assets/layout_2025/menu/' | relative_url }}{{ item.name }}.png" alt="{{ item.name }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

<!-- mobile text menu -->
<nav class="rr-menu-mobile">
  <ul>
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link | relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
<img class="mobile-hide visible-md visible-lg" src="/assets/layout_2025/bunny_cropped_clean.png" aria-hidden="true"/>